{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body_class %}login{% endblock %}

{% block body %}
    </section>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% else %}
        <div class="w-full sm:h-screen flex justify-center items-center bg-image bg-no-repeat bg-cover bg-center" style="--bg-image:url('{{ asset('food-photographer-david-fedulov-FtpgFeUQuAY-unsplash.jpg') }}');">
            <form class="p-10 bg-white rounded flex justify-center items-center flex-col shadow-md w-full sm:w-auto" method="post">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-20 h-20 text-gray-600 mb-2" viewbox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd" />
                </svg>
                <p class="mb-5 text-3xl uppercase text-gray-600">Login</p>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="mb-5 p-3 w-80 focus:border-purple-700 rounded border-2 outline-none" autocomplete="email" placeholder="Email" required autofocus>
                <input type="password" name="password" class="mb-5 p-3 w-80 focus:border-purple-700 rounded border-2 outline-none" placeholder="Password" autocomplete="current-password" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
                <button class="bg-purple-600 hover:bg-purple-900 text-white font-bold p-2 rounded w-80" id="login" type="submit"><span>Login</span></button>
                <div class="text-left w-full mt-5"><a href="{{ path("app_forgot_password_request") }}">Mot de passe oublié ?</a></div>
                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                #}

            </form>

        </div>
    {% endif %}
    <section>

{% endblock %}
