<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dabba | {% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}" >
    <header>
        <!-- This example requires Tailwind CSS v2.0+ -->
        <nav class="bg-gray-800">
            <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
                <div class="relative flex items-center justify-between h-16">
                    <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                        <!-- Mobile menu button-->
                        <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                            <span class="sr-only">Open main menu</span>
                            <!--
                              Icon when menu is closed.

                              Heroicon name: outline/menu

                              Menu open: "hidden", Menu closed: "block"
                            -->
                            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                            </svg>
                            <!--
                              Icon when menu is open.

                              Heroicon name: outline/x

                              Menu open: "block", Menu closed: "hidden"
                            -->
                            <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                    <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                        <div class="flex-shrink-0 flex items-center">
                            <a href="/"><img class="block h-8 w-auto" src="{{ asset('logo.png') }}" alt="logo dabba-consigne"></a>
                        </div>
                        <div class="hidden sm:block sm:ml-6">
                            <div class="flex space-x-4">
                                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
{#                                <a href="/" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Home</a>#}
                                <a href="/api/docs" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Api doc</a>
                                <a href="{{ path('admin') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Back Office</a>
                                <a href="https://dabba-consigne.fr" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">dabba-consigne.fr</a>
                            </div>
                        </div>
                    </div>
                    <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
{#                        <button type="button" class="bg-gray-800 p-1 rounded-full text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">#}
{#                            <span class="sr-only">View notifications</span>#}
{#                            <!-- Heroicon name: outline/bell -->#}
{#                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">#}
{#                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />#}
{#                            </svg>#}
{#                        </button>#}
                        {% if is_granted('ROLE_USER') %}
                        <!-- Profile dropdown -->
                        <div class="ml-3 relative">
                            <div>
                                <button type="button" class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" id="user-menu-button" aria-expanded="false" aria-haspopup="true" >
                                    <span class="sr-only">Open user menu</span>
                                    <img class="h-8 w-8 rounded-full" src="{{ app.user.email|grAvatar }}" alt="">
                                </button>
                            </div>

                            <!--
                              Dropdown menu, show/hide based on menu state.

                              Entering: "transition ease-out duration-100"
                                From: "transform opacity-0 scale-95"
                                To: "transform opacity-100 scale-100"
                              Leaving: "transition ease-in duration-75"
                                From: "transform opacity-100 scale-100"
                                To: "transform opacity-0 scale-95"
                            -->
                            <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none hidden" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1" >
                                <!-- Active: "bg-gray-100", Not Active: "" -->
                                <a href="{{ path('admin') }}" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Admin</a>
{#                                <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>#}
                                <a href="{{ path('app_logout') }}" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Déconnexion</a>
                            </div>
                        </div>
                        {% else %}
                            <div class="hidden sm:block">
                                <a class="text-orange-light hover:text-orange" href="{{ path('app_login') }}">connexion</a>&nbsp;<span class="text-white">|</span>&nbsp;<a class="text-orange-light hover:text-orange" href="{{ path('app_register') }}">s'inscrire</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Mobile menu, show/hide based on menu state. -->
            <div class="sm:hidden hidden" id="mobile-menu">
                <div class="px-2 pt-2 pb-3 space-y-1">
                    <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
{#                    <a href="/" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium" aria-current="page">Home</a>#}
                    <a href="/api/docs" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Api doc</a>
                    <a href="{{ path('admin') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Back Office</a>
                    <a href="https://www.dabba-consigne.fr/" target="_blank" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">dabba-consigne.fr</a>
                    {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('app_login') }}" class="text-orange-light hover:text-orange hover:bg-gray-700 block px-3 py-2 rounded-md text-base font-medium">Connexion</a>
                    <a href="{{ path('app_register') }}" class="text-orange-light hover:text-orange hover:bg-gray-700 block px-3 py-2 rounded-md text-base font-medium">Inscription</a>
                    {% else %}
                        <a href="{{ path('app_logout') }}" class="text-orange-light hover:text-orange hover:bg-gray-700 block px-3 py-2 rounded-md text-base font-medium">Déconnexion</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    <section class="w-full md:w-2/3 lg:w-1/2 m-auto">
        {% if app.session.flashBag.peekAll|length > 0 %}
            <div id="flash" class="px-10 flex flex-col space-y-3 fixed w-full top-14">
                {% for type,messages in app.session.flashBag.all %}
                    {% if type == "info" %}
                        {% for message in messages %}
                            <div class="bg-blue-100 p-5 w-full sm:w-1/2 border-l-4 border-blue-500 relative message">
                                <div class="flex space-x-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="flex-none fill-current text-blue-500 h-4 w-4">
                                        <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-.001 5.75c.69 0 1.251.56 1.251 1.25s-.561 1.25-1.251 1.25-1.249-.56-1.249-1.25.559-1.25 1.249-1.25zm2.001 12.25h-4v-1c.484-.179 1-.201 1-.735v-4.467c0-.534-.516-.618-1-.797v-1h3v6.265c0 .535.517.558 1 .735v.999z"></path></svg>
                                    <div class="flex-1 leading-tight text-sm text-blue-700">{{ message }}</div>
                                </div>
                                <div class="absolute right-2 top-1 cursor-pointer close">
                                    <i class="mdi mdi-close"></i>
                                </div>
                            </div>
                        {% endfor %}
                    {% elseif type == "success" %}
                        {% for message in messages %}
                            <div class="bg-green-100 p-5 w-full sm:w-1/2 rounded relative message">
                                <div class="flex justify-between">
                                    <div class="flex space-x-3">
                                        <div class="flex-none fill-current text-green-500">
                                            <i class="mdi mdi-checkbox-marked-circle"></i></div>
                                        <div class="flex-1 text-sm text-green-700 font-medium">{{ message }}</div>
                                    </div>
                                    <div class="flex-none fill-current text-green-600 cursor-pointer close">
                                        <i class="mdi mdi-close"></i>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% elseif type == "error" %}
                        {% for message in messages %}
                            <div class="bg-red-100 p-5 w-full sm:w-1/2 relative message">
                                <div class="flex space-x-3">
                                    <i class="mdi mdi-close-circle text-red-700"></i>
                                    <div class="leading-tight flex flex-col space-y-2">
                                        <div class="text-sm font-medium text-red-700">Oups !</div>
                                        <div class="flex-1 leading-snug text-sm text-red-600">{{ message }}</div>
                                    </div>
                                </div>
                                <div class="absolute right-2 top-1 cursor-pointer close">
                                    <i class="mdi mdi-close"></i>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% block body %}{% endblock %}
    </section>
    </body>
</html>
